
body, ul, li, span, p, b, a,h1,h2,h3,h4,h5,h6,div,button{
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  font-size: 12px;
}
img {
    border: 0;
}
.yt-wrap{width:1190px;margin:0 auto;}
#hd.yt-secure #hdmain, #hd.yt-secure #hdmain .top-main {
    height: 76px;
}
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #e5004f;
}
i, cite, em, var, address, dfn {
    font-style: normal;
}