#ft {
  padding-top: 30px;
  background-color: #fff;
  width: 100%;
  min-width: 1190px;
}

#ft .itips {
  width: 1188px;
  height: 88px;
  margin-bottom: 35px;
  border: 1px solid #eee;
  background-color: #f7f7f7;
}

#ft .itips span {
  float: left;
  border-right: 1px solid #eee;
  font-family: "\5fae\8f6f\96c5\9ed1";
}

#ft .itips span strong {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

#ft .itips span strong i {
  font-style: normal;
  color: #e5004f;
}

#ft .itips span b {
  font-weight: 400;
  color: #888;
}

#ft .itips .delivery {
  width: 186px;
  height: 65px;
  padding: 23px 0 0 100px;
  background: url(./img/footer-01.png) 52px -56px no-repeat;
}

#ft .itips .genuine {
  width: 182px;
  height: 65px;
  padding: 23px 0 0 104px;
  background: url(./img/footer-01.png) 52px -132px no-repeat;
}

#ft .itips .freight {
  width: 140px;
  border-right: none;
  height: 65px;
  padding: 23px 0 0 115px;
  background: url(./img/footer-01.png) 52px -203px no-repeat;
}

#ft .itips .service {
  width: 282px;
  height: 68px;
  padding: 20px 0 0 45px;
}

#ft .itips .service strong {
  display: inline-block;
  padding: 0 20px 0 24px;
  font-size: 20px;
  font-family: Arial;
  color: #e5004f;
  background: url(./img/footer-01.png) 2px 0 no-repeat;
}

#ft .itips .service i {
  font-style: normal;
}

#ft .itips .service b {
  padding-left: 24px;
  font-size: 14px;
  font-family: Arial;
  background: url(./img/footer-01.png) 0 -28px no-repeat;
}

#ft .ilinks {
  text-align: center;
  margin-bottom: 25px;
}

#ft .ilinks a {
  margin: 0 10px;
  color: #757575;
}

#ft .ilinks a:hover {
  color: #e5004f;
}

#ft .copyright {
  text-align: center;
}

#ft .copyright p {
  line-height: 22px;
  color: #b2b2b2;
}

#ft .copyright p a {
  margin: 0 6px;
  color: #b2b2b2;
}

#ft .all-mark {
  padding: 10px 0 20px;
  text-align: center;
}

#ft .all-mark a {
  display: inline-block;
  margin: 0 12px;
  vertical-align: middle;
}

#ft .all-mark a.m-integrity {
  width: 112px;
  height: 40px;
}

#ft .all-mark a.cnnic {
  width: 102px;
  height: 40px;
}

#ft .all-mark a.commerce {
  width: 48px;
  height: 48px;
}
